.chessboard{

    border: 2px solid black;


    .file-number, .rank-letter{
        position: absolute;
        line-height: 100%;
    }

    .dark-tile .file-number, .dark-tile  .rank-letter{
        color: $light-tile;
    }


    .file-number{
        left: 2%;
        top: 2%;
    }
    .rank-letter{
        right: 2%;
        bottom: 2%;
    }

    [class*="-tile"]{
        position: relative;
    }


    @media screen and (orientation:portrait) {
        margin: 4vw auto;

        [class*="-tile"]{
            white-space: nowrap;
            box-sizing: border-box;
            width: 10vw;
            height: 10vw;
            line-height: 10vw;
        }
        .file-number, .rank-letter{
            font-size: 2.2vw;
        }
    }
    @media screen and (orientation:landscape) {
        margin: 4vh auto;

        [class*="-tile"]{
            box-sizing: border-box;
            width: 10vh;
            height: 10vh;
            line-height: 10vh;
        }
        .file-number, .rank-letter{
            font-size: 2.2vh;
        }
    }
    .row{
        display: flex;
    }
    .light-tile{
        background-color: $light-tile;
        background: linear-gradient(120deg, lighten($light-tile, 20%) 0%, $light-tile 100%);
    }
    .dark-tile{
        background-color: #926b24;
        // background: linear-gradient(120deg, lighten($dark-tile, 40%) 0%, lighten($dark-tile, 20%)  100%);
        background: linear-gradient(120deg, #bd9768 0%, #926b24 100%);
    }

}