.chessboard{

    @media screen and (orientation:portrait) {
        margin: 4vw auto;

        [class*="-tile"]{
            box-sizing: border-box;
            width: 10vw;
            height: 10vw;
            line-height: 10vw;
        }
        .rank-tile, .file-tile{
            font-size: 2vw;
        }
    }
    @media screen and (orientation:landscape) {
        margin: 4vh auto;

        [class*="-tile"]{
            box-sizing: border-box;
            width: 10vh;
            height: 10vh;
            line-height: 10vh;
        }
        .rank-tile, .file-tile{
            font-size: 2vh;
        }
    }
    .row{
        display: flex;
    }
    .light-tile{
        background-color: $light-tile;
        border: 1px solid $light-tile;
        background: linear-gradient(120deg, lighten($light-tile, 20%) 0%, $light-tile 100%);
    }
    .dark-tile{
        background-color: $dark-tile;
        border: 1px solid darken($light-tile, 50%);
        background: linear-gradient(120deg, lighten($dark-tile, 5%) 0%, $dark-tile 100%);
    }
    .rank-tile, .file-tile{
        text-align: center;
    }
}