$default-font: 'Raleway';

/* Color Theme Swatches in Hex */
$Chess-1-hex: #DCC8AF;
$Chess-2-hex: #F2C791;
$Chess-3-hex: #8C4D16;
$Chess-4-hex: #732C02;
$Chess-5-hex: #260401;

$light-tile: #DCC8AF;
$dark-tile: #260401;

$default-color: #260401;